@model IEnumerable<Inventory.Data.ItemOut>

@{
    ViewBag.Title = "Takeout List";
}

<h2>Takeout Item List</h2>

<p>
    @Html.ActionLink("Take New Item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
